@import url(https://fonts.googleapis.com/css?family=Italiana:regular);

.Text1
{
    color: #111;
    font-family: Italiana;
    font-size: 50px;
    font-weight: 400;
    top: 1900px;
    left: 140px;
    position: absolute;
}

.inner-container
{
    width: 1630px;
    height: 550px;
    border-radius: 10px;
    background: rgba(229, 229, 229, 0.50);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container1{
    justify-content: center;
    align-items: center;
    left: 150px;
    top: 2000px;
    position: absolute;
}


.button1
{
    padding: 40px;
}
.button2
{
    padding: 40px;
}

.button3
{
    padding: 40px;
}

.button4
{
    padding:40px;
}

.buttton-card
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.but{
    left: 30px;
    position: absolute;
}

.CARD1
{
    height:480PX;
}