@import url(https://fonts.googleapis.com/css?family=Italiana:regular);

.Text1
{
    color: #111;
    font-family: Italiana;
    font-size: 50px;
    font-weight: 400;
    top: 1900px;
    left: 140px;
    position: absolute;
}

.inner-container
{
    width: 1630px;
    height: 684px;border-radius: 10px;
    background: rgba(229, 229, 229, 0.50);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container1{
    justify-content: center;
    align-items: center;
    left: 150px;
    top: 2000px;
    position: absolute;
}