@import url(https://fonts.googleapis.com/css?family=Italiana:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
.title
{
    color: #111;
    font-size: 28px;
    font-weight: light ;
    position: absolute;
    left: 130px;
    top: 50px;
    font-family: Sansation Light;
}

.me-auto-nav:last-of-type
{
    display: flex;
    top: 50px;
    position: absolute;
    color: #111;
    font-size: 25px;
    font-weight: lighter;
    gap: 110px;
    left: 1100px;
    margin-left: auto;
}

.me-auto-nav:hover{
    color: blueviolet;
}

.me-auto-nav
{
    font-family: Poppins;
}